@page "/"
@using BlazorDateRangePicker
@using CovidInformationPortal.Client.Models.Response

<h3>Statistics</h3>
<div class="row col-md-12">
    <div>
        <DateRangePicker DateFormat="dd/MM/yyyy" OnRangeSelect="OnRangeSelect" placeholder="Select dates...">
            <ButtonsTemplate>
                <button class="cancelBtn btn btn-sm btn-default"
                        @onclick="@context.ClickCancel" type="button">
                    Cancel
                </button>
                <button class="cancelBtn btn btn-sm btn-default"
                        @onclick="@(e => ResetClick(e, context))" type="button">
                    Reset
                </button>
                <button class="applyBtn btn btn-sm btn-primary" @onclick="@context.ClickApply"
                        disabled="@(context.TStartDate == null || context.TEndDate == null)"
                        type="button">
                    Apply
                </button>
            </ButtonsTemplate>
        </DateRangePicker>
    </div>
    <div>
        <select id="department" value="@DatePeriodTypeSelected" @onchange="OnDateTypeChange" style="height: 30px; margin-right: 10px;">
            <option value="Days">Days</option>
            <option value="Weeks">Weeks</option>
            <option value="Months">Months</option>
        </select>
    </div>
</div>
<div class="row">
    @if (LineChartData == null)
    {
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    }
    else
    {
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <LineChart @ref="LineChart" Data="@LineChartData" ChartName="Maded tests / Positive found" ChartContainer="lineChart" />
                </div>
            </div>
        </div>
    }
</div>